.PlaylistMenu {
  background-color: #303030;
  width: 24%;
  overflow-y: scroll;
}
.PlaylistMenu section {
  padding: 10px;
  border-bottom: solid 2px #000;
}
.PlaylistMenu-header {
  font-weight: bold;
  margin-bottom: 5px;
}
.PlaylistMenu-select {
  border: solid 1px #ddd;
  padding: 5px;
  width: 100%;
}
.PlaylistMenu-option {
  padding: 2px;
  border: 0;
}
.PlaylistMenuSongs {
  padding-right: 3px;
}
.PlaylistMenuSongs-song {
  padding: 7px;
  cursor: pointer;
  position: relative;
}

.PlaylistMenuSongs-song:nth-child(odd) {
  background-color: #464646;
}

.PlaylistMenuSongs-song:hover {
  background-color: #551818;
}